*.suo
*.bak
data/
packages/
obj/
bin/
.paket/paket.exe
*.svclog
temp
web/content/dist
.fake
paket-files/
.ionide.debug

logs
*.log
npm-debug.log*
*.pid
*.seed
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
