redirects:force
source https://nuget.org/api/v2
framework: netstandard2.0, net461

nuget FSharp.Core ~> 4.7.0
nuget FSharp.Formatting ~> 3.1.0
nuget FSharp.Compiler.Service ~> 27.0
nuget FAKE ~> 5.8.4

nuget Suave ~> 2.5.6
nuget Suave.DotLiquid ~> 2.5.6
nuget FSharp.Data ~> 3.3.3
nuget DotLiquid ~> 2.0.314
nuget FSharp.Azure.StorageTypeProvider ~> 2.0.1
nuget Paket.Core ~> 2.44.0
nuget Chessie ~> 0.6.0
nuget Newtonsoft.Json ~> 12.0.3
nuget WindowsAzure.Storage ~> 9.3.3
