source https://nuget.org/api/v2

nuget FAKE
nuget Suave
nuget Suave.DotLiquid
nuget FSharp.Data
nuget FSharp.Compiler.Service
nuget DotLiquid
nuget FSharp.Formatting >= 2.10.3
nuget FSharp.Azure.StorageTypeProvider

github fsprojects/Chessie src/Chessie/ErrorHandling.fs