<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <httpPlatform
        stdoutLogEnabled="true" stdoutLogFile="..\..\LogFiles\suave.log" startupTimeLimit="2000"
        processPath="%HOME%\site\wwwroot\%DEPLOY_SUBDIRECTORY%\bin\fssnip.exe" arguments="" >
      <environmentVariables>
        <environmentVariable name="IP_ADDRESS" value="127.0.0.1" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="FSSNIP_HOME_DIR" value="%HOME%\site\wwwroot\%DEPLOY_SUBDIRECTORY%" />
        <environmentVariable name="LOG_LEVEL" value="Warn" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>