<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <httpPlatform
        stdoutLogEnabled="true" stdoutLogFile="..\..\LogFiles\suave.log" startupTimeLimit="2000"
        processPath="%HOME%\site\wwwroot\%DEPLOY_SUBDIRECTORY%\bin\fssnip.exe" arguments="port=%HTTP_PLATFORM_PORT%" >
    </httpPlatform>
  </system.webServer>
</configuration>