{% extends "page.html" %}
{% block head %}
  <title>Insert Snippet | F# Snippets</title>
{% endblock %}

{% block customPageScripts %}
  <script src="/content/codecheck.js"></script>
  <script src="/content/snippetvalidation.js"></script>
  <script src="/lib/jquery.validate.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  
  <form class="form-horizontal" name="insert-form" id="insert-form" action="/pages/insert" method="post">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" onclick="switchHidden();" id="hidden" name="hidden" checked="checked"> Hidden
          </label>
        </div>
      </div>
      <div class="col-sm-8">
        <small>Hidden snippets will not be listed on the page. Uncheck this for generally useful snippets. If you specify 'Passcode' only you'll be able to create a new version.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Snippet title">
      </div>
    </div>
    <div class="form-group">
      <label for="passcode" class="col-sm-2 control-label">Passcode</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="passcode" name="passcode" placeholder="Password">
      </div>
    </div>
    
    <!-- Additional information required for public snippets only (part 1) -->
    <div class="public-details" style="display:none;">
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <small>Public F# snippets will be listed on the web site. The purpose of public snippets is to create a repository of useful snippets that people can easily find, view and use in their code. To make this possible, please add more information about the snippet such as a brief description, tags and your name.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="description" rows="3" id="description"></textarea>
      </div>
    </div>
    </div>
    
    <div class="form-group">
      <label for="code" class="col-sm-2 control-label">Source code</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="code" rows="15" id="code"></textarea>
      </div>
    </div>
    
    <!-- Additional information required for public snippets only (part 2) -->
    <div class="public-details" style="display:none;">
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10 tags-wrapper">
        <select class="form-control" id="tags" name="tags" data-placeholder="For example: list, recursion, pattern matching" multiple>
          <option value="pattern matching">pattern matching</option>
          <option value="lists">list</option>
          <option value="recursion">recursion</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="author" name="author" placeholder="Your Name">
      </div>
    </div>
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">Link</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="link" name="link" placeholder="http://...">
      </div>
    </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="hasnuget" name="hasnuget" onclick="$('#nuget-details').css('display', ($('#hasnuget').is(':checked')) ? '' : 'none');"> Reference NuGet packages
          </label>
        </div>
      </div>
      <div class="col-sm-7">
        <small>If your snippet has external dependencies, enter the names of NuGet packages to reference, separated by a comma (<code>#r</code> directives are not required).</small>
      </div>
    </div>
    <div class="form-group" id="nuget-details" style="display:none">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="text" class="form-control" name="nugetpkgs" id="nuget" placeholder="FSharp.Data, FSharp.Formatting, Suave, ...">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" id="errors">
      </div>
    </div>

    <div class="form-group" style="text-align:right;margin-top:20px">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submit" name="submit" value="Create" class="btn btn-success">Create</button>
      </div>
    </div>

    <input type="hidden" name="session" value="{{ model.Session }}"></input>
  </form>

</div>
</div>
{% endblock %}
