{% block customPageScripts %}
<script src="/content/dist/likes.min.js"></script>
{% endblock %}

<div class="row">
  <div class="content col-md-6">
    <ul>
      {% for item in items %}
        {% assign mod = forloop.index0 | modulo:2 %}
        {% if mod == 0 %}
           {% include "item.html" item:item %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="content col-md-6">
    <ul>
      {% for item in items %}
        {% assign mod = forloop.index0 | modulo:2 %}
        {% if mod == 1 %}
           {% include "item.html" item:item %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
