{% extends "page.html" %}
{% block head %}
<title>Test Snippet | F# Snippets</title>
{% endblock %}

{% block customPageScripts %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <h3>Test code '{{ model.Details.Title }}'</h3>
    <input type="hidden" name="code" rows="15" id="code" value="{{ model.Encoded }}">  
    <script>
      
      SEC_HTTPS = true;
      SEC_BASE = "compilers.widgets.sphere-engine.com";

      (function (d, s, id) {
        SEC = window.SEC || (window.SEC = []);
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = (SEC_HTTPS ? "https" : "http") + "://" + SEC_BASE + "/static/sdk/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "sphere-engine-compilers-jssdk"));
      SEC.ready = function (e) {
        "loading" != document.readyState && "interactive" != document.readyState ? e() : window.addEventListener("load",
          e)
      };
      SEC.ready(function() {
            var sourceCode = document.getElementById('code').value;
            var SECWidget = SEC.widget("example-widget");
            SECWidget.loadSourceCode(124, sourceCode, "");
            SECWidget.setCompilers([124]);
        });
    </script>
    <div class="col-sm-10" data-id="example-widget" class="sec-widget" data-widget="3286855e6dc3a4ea6764fa7cf253106d" data-theme="light" style="min-height:100px"></div>
  </div>
</div>
{% endblock %}