{% extends "page.html" %}
{% block head %}
  <title>Update Snippet | F# Snippets</title>
{% endblock %}

{% block customPageScripts %}
  <script src="/content/dist/codecheck.min.js"></script>
  <script src="/content/dist/snippetvalidation.min,js"></script>
  <script src="/lib/jquery.validate.min.js"></script>
  <script>$(document).ready(initChosen);</script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">

  <h1>Update snippet '{{ model.Details.Title }}'</h1>

  <form class="form-horizontal" name="insert-form" id="insert-form" action="/{{ model.Details.Id | format_id }}/update" method="post">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" value="{{ model.Details.Title }}">
      </div>
    </div>

    {% if model.Details.Passcode != "" -%}
      <div class="form-group">
          <label for="passcode" class="col-sm-2 control-label">Passcode</label>
          <div class="col-sm-10">
              <input type="password" class="form-control" id="passcode" name="passcode" placeholder="Password">
          </div>
      </div>
    {% endif -%}
    
    <div class="public-details" {% if model.Details.Private -%}style="display:none"{% endif -%}>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="description" rows="3" id="description">{{ model.Details.Comment }}</textarea>
      </div>
    </div>
    </div>

    <div class="form-group">
      <label for="code" class="col-sm-2 control-label">Source code</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="code" rows="15" id="code">{{ model.Raw }}</textarea>
      </div>
    </div>
    
    <div class="public-details" {% if model.Details.Private -%}style="display:none"{% endif -%}>
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-10 tags-wrapper">
        <select class="form-control" id="tags" name="tags" data-placeholder="For example: list, recursion, pattern matching" multiple>
          {% for tag in model.Details.Tags %}
            <option value="{{ tag }}" selected>{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="author" class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="author" name="author" value="{{ model.Details.Author }}">
      </div>
    </div>
    <div class="form-group">
      <label for="link" class="col-sm-2 control-label">Link</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="link" name="link" value="{{ model.Details.Link }}">
      </div>
    </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="hasnuget" name="hasnuget" onclick="$('#nuget-details').css('display', ($('#hasnuget').is(':checked')) ? '' : 'none');"> Reference NuGet packages
          </label>
        </div>
      </div>
      <div class="col-sm-7">
        <small>If your snippet has external dependencies, enter the names of NuGet packages to reference, separated by a comma (<code>#r</code> directives are not required).</small>
      </div>
    </div>
    <div class="form-group" id="nuget-details" style="display:none">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="text" class="form-control" name="nugetpkgs" id="nuget" placeholder="FSharp.Data, FSharp.Formatting, Suave, ...">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" id="errors">
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        {% if model.Error != '' %}
          <div class="alert alert-danger" role="alert"><strong>Snippet was not updated!</strong> {{ model.Error }}</div>
        {% endif %}
      </div>
    </div>

    <div class="form-group" style="text-align:right;margin-top:20px">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="submit" name="submit" value="Update" class="btn btn-success">Update</button>
      </div>
    </div>

    <input type="hidden" name="session" value="{{ model.Session }}"></input>
    <input type="hidden" name="hidden" id="hidden" value="{{ model.Details.Private }}"></input>
  </form>

</div>
</div>
{% endblock %}
